<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" style="position: relative">
      <div class="container">
        <div class="row">
        <div class="col-xs-2">
        <nav class="nav navbar-nav nav-left" style="color: white; font-size: 20px" >
            <span>Bookers</span>
        </nav>
        </div>
        <div class="col-xs-5 col-xs-offset-5">
        <nav>
          <ul class="nav navbar-nav nav-right">
          <% if user_signed_in? %>
            <li class="">
              <%= link_to user_path(current_user)  do %>
              <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
              <% end %>
            </li>
            <li class="">
              <%= link_to users_path do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span>
              <% end %>
            </li>
            <li class="">
              <%= link_to books_path do %>
              <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
              <% end %>
            </li>
            <li class="">
              <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"> logout</span>
              <% end %>
            </li>
          <% else %>
            <li class="">
              <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home home" aria-hidden="true"> Home</span>
              <% end %>
            </li>
            <li class="">
              <%= link_to home_about_path do %>
              <span class="glyphicon glyphicon-link about" aria-hidden="true"> About</span>
              <% end %>
            </li>
            <li class="">
              <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-edit sign_up" aria-hidden="true"> sign up</span>
              <% end %>
            </li>
            <li class="">
              <%=link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in login" aria-hidden="true"> login</span>
              <% end %>
            </li>
          <% end %>
          </ul>
        </nav>
      </div>
      </div>
    </div>
    </div>

  <% if user_signed_in? %>
   <div class="row">
     <div class="col-xs-offset-3 col-xs-6">
       <%= form_tag(search_path,method: :get) do %>
        <%= text_field_tag "search[content]"%>
        <%= select_tag "search[model]",options_for_select({"User"=> "user","Book" => "book"}) %>
        <%= select_tag "search[how]",options_for_select({"完全一致"=>"match","前方一致"=>"forward","後方一致" =>"backward","部分一致"=>"partical"}) %>
        <%= submit_tag"検索" %>
        <% end %>
     </div>
   </div>
   <% end %>
    <%= render "layouts/flash" %>

    <%= yield %>
    <footer>
      <div class="container">
<div class="row">
<p class="col-xs-3 col-xs-offset-9">CopyRight Infratop.inc</p>
</div>
</div>
    </footer>
  </body>
</html>
